[run]
source = .
omit =
    */migrations/*
    */tests/*
    */venv/*
    *manage.py*

[report]
exclude_lines =
    pragma: no cover
    def __str__
    raise NotImplementedError
    if settings.DEBUG
    if self.debug